@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  transition: 0.3s;
}

body {
  background: linear-gradient(to bottom, #f3f6ff, #b4c7ff);
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

h1 {
  background-color: #b4c7ff;
  padding: 2vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  height: 90vh;
}

ul,
.new-todo {
  background-color: beige;
  padding: 2vh;
  width: 50%;
  border-radius: 3px;
}

ul li {
  border-bottom: solid 1px #2e2d2d;
  padding: 1vh;
}

.new-todo {
  display: flex;
  padding: 2vh;
}

input {
  width: 80%;
  padding: 1vh;
  border-radius: 5px 0px 0px 5px;
  font-size: 18px;
}

button {
  width: 20%;
  background-color: #12a8ff;
  border-radius: 0px 5px 5px 0px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

input,
button {
  margin: 0;
  border: 0;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 768px) {
  ul,
  .new-todo {
    width: 90%;
  }
}
